<% provide(:title, "Grade a student") %>
<% provide(:button_text, 'Save grade') %>

<h1>Grade Student</h1>

<%= render 'form', project: @grade %>

<br>
<%= link_to 'Back', @grade %> |
<%= link_to 'Grade Summary', grades_path %>

