<% provide(:title, 'Grades I submitted') %>
<h1>Grades I submitted</h1>


<ul class="users">
    <%= render @grades %>
</ul>
<% if current_user.admin? %>
  <div class="new-button">
  <%= link_to "Create a new grade",  controller: "grades", action: "new"  %> 
  </div>
<% end %>
