<% provide(:title, "Modify team") %>
<% provide(:button_text, 'Save changes') %>

<h1>Modify Team</h1>
<%= render 'form', team: @team %>

<br>
<%= link_to 'Back', @team %> |
<%= link_to 'Team Summary', teams_path %>

