<% provide(:title, 'All teams') %>
<h1>All teams</h1>


<ul class="summary-list">
    <%= render @teams %>
</ul>
<% if current_user.admin? %>
  <div class="new-button">
  <%= link_to "Create a new team",  controller: "teams", action: "new"  %> 
  </div>
<% end %>


