<% provide(:title, "About") %>
<h1>About</h1>

<h3>What We Provide?</h3>
Here are the list of services that our peer review site provides for users.
<ul>
<li>Allows instructors or TAs to populate classes from a roster.</li>
<li>Instructors and TAs can assign teams to work on projects</li>
<li>Allows teammates to provide feedback for projects.</li>
</ul>