<% provide(:title, "About")%>
<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
</head>

<body>
<h1>About</h1>
<p>
  Rate My Peers was developed at Ohio State by computer science students.
  Its an application that allows users working on group projects to evaluate 
  their peers' performances. These ratings are accessible by the course 
  instructor and can be viewed anonymously. 
</p>
</body>
</html>