<% provide(:title, "About") %>
<h1>About</h1>

<h3>What We Provide?</h3>
Here are the list of services that our peer review site provides instructors and admins.
<ul>
<li>Assign students to work in cross-functioning teams</li>
<li>Assign teams to work on projects</li>
<li>Allow peers on the same team to provide feedback for any project they are working on</li>
<li>Allow instructors to add students and TAs to a team</li>
</ul>