<% provide(:title, "Help") %>
<h1>Help</h1>
If you have any questions, feel free to click on one of our names to email us.
We will try to respond within 24 hours on weekdays.</p>

<div class = "contact-list">
<ul>
<li><a href = "mailto:zheng.1708@osu.edu">Jesse Zheng</a></li>
<li><a href = "mailto:huang.3871@osu.edu">Evan Huang</a></li>
<li><a href = "mailto:vanhoose.49osu.edu">Justin VanHoose</a></li>
<li><a href = "mailto:jeon.193@osu.edu">Sooyoung Jeon</a></li>
</ul>
</div>