<div class="center jumbotron">
 <h1>Bits Please! Grade me Please!</h1>
<p class="home">
  Our team created this application when we worked on project #6 for CSE-3901. 
  We used Ruby on Rails programming framework along with Bootstrap and JQuery for this project. 
  It's been a challenging process, 
  but in the end, we accomplished a lot. 
  <br>
  Please try the application.
  <br>
  Feedbacks are appreciated!
</p>
<% if !logged_in? %>
  <%= link_to "Log in", login_path %>
<% end %>
</div>

<%= link_to image_tag("bit-pls.png", alt: "Rails logo", width: "100"),
                      root_path %>