<% provide(:title, "Modify project") %>
<% provide(:button_text, 'Save changes') %>

<h1>Modify Project</h1>

<%= render 'form', project: @project %>

<br>
<%= link_to 'Back', @project %> |
<%= link_to 'Project Summary', projects_path %>
