<% provide(:title, 'All projects') %>
<h1>All projects</h1>

<ul class="summary-list">
    <%= render @projects %>
</ul>
<% if current_user.admin? %>
  <div class="new-button">
  <%= link_to "Create a new project",  controller: "projects", action: "new"  %> 
  </div>
<% end %>
