<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bitsplease Rate Me Rest Password</h1>
    <p>
      To reset the password, please click a link below<br>
    </p>
    <p>
      <%= link_to "Reset Password", @url %>
    </p>
    <p>Thanks for visiting our site again!</p>
  </body>
</html>
