<% provide(:title, "Modify course") %>
<% provide(:button_text, 'Save changes') %>

<h1>Modify Course</h1>
<%= render 'form', course: @course %>

<%= link_to 'Show', @course %> |
<%= link_to 'Back', courses_path %>
