<% provide(:title, "Modify course") %>
<% provide(:button_text, 'Save changes') %>

<h1>Modify Course</h1>
<%= render 'form', course: @course %>

<br>
<%= link_to 'Back', @course %> |
<%= link_to 'Course Summary', courses_path %>
