@import "bootstrap-sprockets";
@import "bootstrap";
 
section {
    overflow: auto;  
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.title {
    font-weight: 700px;
}

.title-bar{
    position: relative;
    min-height: 150px;
    background-color: RGB(206, 184, 136);
    text-shadow: 20mm;
}

.navbar-nav{
    padding-top: 50px;
}

.container {
    position: absolute;
    font-family: Arial;
  }

