@import "bootstrap-sprockets";
@import "bootstrap";
 
section {
    overflow: auto;  
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
}

.center h1 {
    margin-bottom: 10px;
}

.title {
    font-weight: 700px;
}

.nav-bar{
    position: relative;
    text-align: center;
    min-height: 150px;
    width: auto;
    background-color: RGB(206, 184, 136);
}

.navbar-nav{
    padding-top: 50px;
}

.container {
    position: static;
    font-family: Arial;
    overflow:auto;
    width: auto;

}

.thetitle{
    position:absolute;
    overflow:auto;
    font-family:Arial, Helvetica, sans-serif;
}

